<div data-id="{{user.id}}">
<p> <strong> NAME {{user.name}}</strong></p>
<p> <strong> AGE {{user.age}}</strong></p>
<p> <strong> ADDRESS {{user.address}}</strong></p>
<!-- <p> <strong> {{user.name}}</strong></p> -->
</div>
