
<tr data-id="{{user.id}}">
  console.log(data-id="{{user.id}}")
  <td name="[credentials][name]">{{user.name}}</td>
  console.log("[credentials][name]")
  <td><button id="aboutUser{{user.id}}" class="btn btn-default aboutUser">ABOUT</button></td>
  <td><button id="followUser{{user.id}}" class="btn btn-default followUser">Add-Friend</button></td>
</tr>
